body {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    display: block;
}

div.title {
    font-family: "louvette-pixel", sans-serif;
    font-size: 250px;
    text-align: center;
    width: 100%;
    line-height: 0.9;
    margin-bottom: 20px;
}

div.quote {
    font-size: 30px;
    text-align: center;
    font-family: trebuchet-ms, sans-serif;
    font-weight: 400;
    font-style: normal;
}

div.icon{
    font-family: trebuchet-ms, sans-serif;
    font-size: 10px;
    color:blue;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


div.width25 { width: 25%; }
div.width50 { width: 50%; }
div.width75 { width: 75%; }